VITE_API_BASE_URL=https://api.legal-service.ru
VITE_GTM_ID=GTM-XXXXXXX
VITE_YANDEX_METRIKA_ID=XXXXXXXX
VITE_ADVOKAT_NAME="Иван Петров"
VITE_ADVOKAT_REG_NUMBER="РА 1234567"
VITE_ADVOKAT_PHONE="+74951234567"
